<div class="row">
  <h1>Welcome</h1>
  <p>
    By the end of the day today, Sunday October 9, 2016, I will:
    <ul>

      <li>
        Create mobile responsive site
      </li>
      <li>
        Clean up the blog view, so that I can add this list as a blog, to record my progress.
      </li>
      <li>
        Add an About page so that you can learn who I am and what I do.
      </li>
    </ul>
  </p>
</div>
