<div class="row">
  <div class="about-me">
    <div class="column-1-3 align-right">
      <h1>Visionary Educator</h1>
      <p>
        Effective education must anticipate the needs of learners in our ever-evolving world. To do so requires visionary leaders, inspirational educators and proactive approaches to quality assurance and improvement planning.
      </p>
    </div>
    <div class="column-1-3">
      <div class="profile-photo"></div>
    </div>
    <div class="column-1-3">
      <h1>App Developer</h1>
      <p>
        Developer dabbler transformed into Full Stack Web and App developer. My focus is  specializing in the educational design, development and implementation of Web and Mobile apps for teachers and students to enjoy using in the classroom.
      </p>
    </div>
  </div>
</div>
