* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
}

html {
  font-family: "Raleway", helvetica, arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Catamaran", helvetica, arial, sans-serif;
  font-weight: 300;
  color: #1B759D;
}

h1 {
  font-size: 2.2em;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

header {
  display:block;
  padding-top: 0;
  background-color: #1B759D;
  height: 290px;
}

.ie9 header {
    -webkit-filter: none;
    filter: none
}

header .header-menu {
  display: block;
  height: 100px;
  padding: 30px;
}

header .logo  {
  display: inline-block;
  height: 35px;
  color: white;
  background-image: asset-url('logo-plantoteachme.png');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 45px;
  font-family: "Kanit", helvetica, arial, sans-serif;
  font-size: 1.7em;
}



header .computer {
  position: relative;
  right: 70px;
  height: 272px;
  background-image: asset-url('computer-bookshelf.png');
  background-repeat: no-repeat;
  background-position: right;
}

.header-container {
  background-image: asset-url('header-background.png');
  background-repeat: no-repeat;
  background-position: 50px 139px;
}

.secondary-menu .contact {
  display: block;
  float: right;
  position: relative;
  top: 25px;
  right: 90px;
  width: 34px;
  height: 58px;
  outline: none;

  background-image: asset-url('pencil-cup.png');
  background-repeat: no-repeat;
  background-position: right;
}

.secondary-menu .contact:hover {
  background-image: asset-url('pencil-cup-hover.png');
}

.row {
  display: block;
  padding: 40px;
}

// navigation
ul.topnav {
  display: inline-block;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 5;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {
  background-color: #D6862A;
}

ul.topnav li.icon {
  display: none;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {

  header .computer {
    display: block;
  }

  .header-container {
    background: none;
  }

  ul.topnav {
    display: block;
  }
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  ul.topnav.responsive {
    position: relative;
    background-color: #6C9947;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
